@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import 'tailwindcss';
@plugin "daisyui";
@plugin "@iconify/tailwind4";

:root {
  --color-primary: #2D5385;
  --color-secondary: #41679C;
  --color-accent: #9cc3f0;

  --color-background: #9cc3f0;
  --color-surface: #f8fafc;
  --color-text: #1e293b;
  --color-muted: #64748b;

  --color-practice: #2D5385;
  --color-off-ice: #3CB371;
  --color-assessment: #F59E0B;
  --color-competition: #A855F7;
}

html,
body {
  min-height: 100vh;
  margin: 0;
}

body {
  background: var(--color-background);
  background: linear-gradient(142deg, rgba(156, 195, 240, 1) 0%, rgba(218, 247, 246, 1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Typography */
@layer components {
  .page-title {
    @apply text-2xl sm:text-3xl mt-10 mb-4 font-bold tracking-tight text-base-content;
    color: var(--color-primary);
  }

  .section-title {
    @apply text-2xl sm:text-xl font-semibold;
  }
}

/* Colours */
.clr-primary {
  color: var(--color-primary);
}

.clr-secondary {
  color: var(--color-secondary);
}

.clr-background {
  color: var(--color-background);
}


/* Navbar Styles */
.navbar {
  @layer daisyui.l1.l2.l3 {
    @apply flex w-full items-center;
    padding: 0.5rem;
    min-height: 4rem;
  }
}

:where(.navbar) {
  @layer daisyui.l1.l2 {
    @apply relative;
  }
}

.navbar-start {
  @layer daisyui.l1.l2.l3 {
    @apply inline-flex items-center;
    width: 50%;
    justify-content: flex-start;
  }
}

.navbar-center {
  @layer daisyui.l1.l2.l3 {
    @apply inline-flex items-center;
    @apply shrink-0;
  }
}

.navbar-end {
  @layer daisyui.l1.l2.l3 {
    @apply inline-flex items-center;
    width: 50%;
    justify-content: flex-end;
  }
}

/* Card Styles */
.card {
  @layer daisyui.l1.l2.l3 {
    @apply rounded-box relative flex flex-col;
    transition: outline 0.2s ease-in-out;
    outline: 2px solid #0000;
    outline-offset: 2px;

    &:focus-visible,
    &[aria-checked="true"],
    &:has(> :checked, > :is([type="checkbox"], [type="radio"]):focus-visible) {
      outline-color: currentColor;
    }
    &:has(> :checked:focus-visible),
    &[aria-checked="true"]:focus-visible,
    &[aria-checked="true"]:has(> :is([type="checkbox"], [type="radio"]):focus-visible) {
      outline-width: 4px;
    }

    &:has(> :is([type="checkbox"], [type="radio"])) {
      @apply cursor-pointer;
      user-select: none;
    }
    > :is([type="checkbox"], [type="radio"]) {
      @apply appearance-none;
    }
  }
  @layer daisyui.l1.l2.l3.l4 {
    figure:first-child {
      @apply overflow-hidden;
      border-start-start-radius: inherit;
      border-start-end-radius: inherit;
      border-end-start-radius: unset;
      border-end-end-radius: unset;
    }

    figure:last-child {
      @apply overflow-hidden;
      border-start-start-radius: unset;
      border-start-end-radius: unset;
      border-end-start-radius: inherit;
      border-end-end-radius: inherit;
    }

    figure {
      @apply flex items-center justify-center;
    }
  }
}

.card-border {
  @layer daisyui.l1.l2 {
    border: var(--border) solid var(--color-base-200);
  }
}

.card-dash {
  @layer daisyui.l1.l2 {
    border: var(--border) dashed var(--color-base-200);
  }
}

.image-full {
  @layer daisyui.l1.l2 {
    @apply grid;

    > * {
      @apply col-start-1 row-start-1;
    }

    > .card-body {
      @apply text-neutral-content relative;
    }

    :where(figure) {
      @apply overflow-hidden;
      border-radius: inherit;
    }

    > figure img {
      @apply h-full object-cover;
      filter: brightness(28%);
    }
  }
}

.card-title {
  @layer daisyui.l1.l2.l3 {
    @apply flex items-center gap-2;
    font-size: var(--cardtitle-fs, 1.125rem);
    font-weight: 600;
  }
}

.card-body {
  @layer daisyui.l1.l2.l3 {
    @apply flex flex-auto flex-col gap-2;
    padding: var(--card-p, 1.5rem);
    font-size: var(--card-fs, 0.875rem);
  }
  @layer daisyui.l1.l2.l3.l4 {
    p {
      @apply grow;
    }
  }
}

.card-actions {
  @layer daisyui.l1.l2.l3 {
    @apply flex flex-wrap items-start gap-2;
  }
}

.card-xs {
  @layer daisyui.l1.l2 {
    .card-body {
      --card-p: 0.5rem;
      --card-fs: 0.6875rem;
    }

    .card-title {
      --cardtitle-fs: 0.875rem;
    }
  }
}

.card-sm {
  @layer daisyui.l1.l2 {
    .card-body {
      --card-p: 1rem;
      --card-fs: 0.75rem;
    }

    .card-title {
      --cardtitle-fs: 1rem;
    }
  }
}

.card-md {
  @layer daisyui.l1.l2 {
    .card-body {
      --card-p: 1.5rem;
      --card-fs: 0.875rem;
    }

    .card-title {
      --cardtitle-fs: 1.125rem;
    }
  }
}

.card-lg {
  @layer daisyui.l1.l2 {
    .card-body {
      --card-p: 2rem;
      --card-fs: 1rem;
    }

    .card-title {
      --cardtitle-fs: 1.25rem;
    }
  }
}

.card-xl {
  @layer daisyui.l1.l2 {
    .card-body {
      --card-p: 2.5rem;
      --card-fs: 1.125rem;
    }

    .card-title {
      --cardtitle-fs: 1.375rem;
    }
  }
}

.card-side {
  @layer daisyui.l1.l2 {
    align-items: stretch;
    flex-direction: row;
    :where(figure:first-child) {
      @apply overflow-hidden;
      border-start-start-radius: inherit;
      border-start-end-radius: unset;
      border-end-start-radius: inherit;
      border-end-end-radius: unset;
    }

    :where(figure:last-child) {
      @apply overflow-hidden;
      border-start-start-radius: unset;
      border-start-end-radius: inherit;
      border-end-start-radius: unset;
      border-end-end-radius: inherit;
    }

    figure > * {
      max-width: unset;
    }

    :where(figure > *) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

