<h1 class="page-title">Add Entry</h1>

<div class="card bg-base-100 card-md shadow-sm">
  <div class="card-body">

    <form [formGroup]="entryForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <!-- Title -->
        <div>
            <label for="title" class="text-gray-700 font-medium mb-1 block">
                Title *
            </label>
            <div class="relative">
                <input id="title" type="text" formControlName="title"
                    class="w-full rounded-lg border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-accent focus:border-transparent"
                    placeholder="Add title">
            </div>
            @if (title?.invalid && title?.touched) {
            <p class="mt-1 text-sm text-red-600">
                @if (title?.errors?.['required']) {Title is required}
            </p>
            }
        </div>

        <!-- Notes -->
        <div>
            <label for="notes" class="text-gray-700 font-medium mb-1 block">
                Notes
            </label>
            <div class="relative">
                <input id="notes" type="text" formControlName="notes"
                    class="w-full rounded-lg border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-accent focus:border-transparent"
                    placeholder="Add notes (optional)">
            </div>
        </div>

        <!-- Date -->
        <div>
            <label for="date" class="text-gray-700 font-medium mb-1 block">
                Date *
            </label>
            <div class="relative">
                <i class="fas fa-calendar absolute left-3 top-3 text-gray-400"></i>
                <input id="date" type="date" formControlName="date"
                    class="w-full rounded-lg border border-gray-300 py-2 px-4 focus:outline-none focus:ring-2 focus:ring-accent focus:border-transparent">
            </div>
        </div>

        <!-- CTA -->
        <div class="flex items-center justify-between pt-6">
            <div class="space-x-3">
                <button type="submit" [disabled]="!entryForm.valid"
                    class="px-6 py-2 text-sm font-medium text-white btn btn-primary">
                    Add Entry
                </button>
                <button type="button" (click)="reset()"
                    class="px-4 py-2 text-sm font-medium text-gray-700">
                    Clear
                </button>
            </div>
        </div>
    </form>
  </div>
</div>